/* LoginForm.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto centra verticalmente el contenido */
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff; /* Agregar un fondo blanco */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .p-field {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .p-button {
    width: 100%;
  }
  